@model MVCFinalProject.Models.LoginCls
@{
    ViewBag.Title = "Login_PageLoad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<div>
    @using (Html.BeginForm("Login_Click", "Login", FormMethod.Post))
    {
        <div><label>User Name:</label></div>


        <div>
            @Html.TextBoxFor(m => m.username)
            @Html.ValidationMessageFor(m => m.username)
        </div>

        <div><label>Password:</label></div>


        <div>
            @Html.PasswordFor(m => m.password)
            @Html.ValidationMessageFor(m => m.password)
        </div>
        <div>
            <input type="submit" value="Login" />
            @Html.DisplayFor(m => m.msg)
        </div>
    }
</div>



